@font-face {
    font-family: 'Valorant Font';
    src: url("../assets/fonts/Valorant Font.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

body {
    min-height: 100vh;

    /* background image */
    background:
        /* transparent overlay */
        linear-gradient(rgba(22, 26, 38, 0.5),
            rgba(22, 26, 38, 0.5)),
        /* image */
        url(../official-assets/lny-wallpapers/LNY_Sage-5_CallBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* blur effect */
    backdrop-filter: blur(.5rem);

    flex-direction: column;
}

/* NAVIGATION */
nav {
    background-color: transparent;
    padding: 2rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#nav-left>a {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
}

#logo-img {
    width: 4rem;
    height: 4rem;
}

#logo-text {
    font-family: 'Anton', sans-serif;
    color: #ece8e1;
    font-size: 2.4rem;
}

/* MAIN */
main {
    width: 100vw;
    height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/* Title */
#main-title {
    font-family: 'Valorant Font';
    text-align: center;
    font-size: 10rem;
}

/* Subtitle */
#main-subtitle {
    font-size: 2.4rem;
}

/* Searchbar */
input {
    font-size: 1.4rem;
}
#main-searchbar {
    max-width: 60rem;
    height: 6rem;
    background-color: rgb(236, 232, 225);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}
#main-searchbar-player, #main-searchbar-tag {
    width: 60%;
}
#main-searchbar-tag-label {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

/* Links */
#main-links {
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.main-links {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color .2s ease-in;
}

/* FOOTER */
footer {
    height: 5rem;
}
#footer-legal {
    width: 80vw;
    margin: auto;
    text-align: center;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    /* MAIN */
    /* Title */
    #main-title {
        font-family: 'Valorant Font';
        text-align: center;
        font-size: 16vw;
    }
    /* Subtitle */
    #main-subtitle {
        font-size: 4vw;
    }
    /* Searchbar */
    #main-searchbar {
        width: 80vw;
    }
    /* Links */
    #main-links {
        width: 80vw;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}