html {
    font-size: 10px;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}
body {
    min-height: 100vh;

    /* background image */
    background: 
    /* transparent overlay */
    linear-gradient(
        rgba(236,232,225,0.3), 
        rgba(236,232,225,0.3)
      ), 
    /* image */
    url(../official-assets/lny-wallpapers/LNY_Sage-5_CallBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* blur effect */
    backdrop-filter: blur(.5rem);

    flex-direction: column;
}

/* NAVIGATION */
nav {
    background-color: transparent;
    padding: 3rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#nav-left > a {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
}
#logo-img {
    width: 4rem;
    height: 4rem;
}
#logo-text {
    font-family: 'Anton', sans-serif;
    color: #161A26;
    font-size: 2.4rem;
}

/* MAIN */
main {
    width: 100vw;
    height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/* Title */
#main-img-container {
    height: 100px;
    overflow: hidden;
}
#main-img {
    width: 600px;
    margin-top: calc(-337.42px / 3);
}
/* Subtitle */
#main-subtitle {
    font-size: 2.4rem;
}
/* Searchbar */
#main-searchbar {
    width: 60rem;
    height: 6rem;
    background-color: rgb(236,232,225);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
#main-searchbar-img {
    height: 4rem;
    border-right: 2px solid #d3d3d3;
}
#main-searchbar-player, #main-searchbar-tag {
    width: 80%;
}
#main-searchbar-tag-label {
    font-size: 1.8rem;
    font-weight: 700;
}
/* Links */
#main-links {
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.main-links {
    font-size: 1.8rem;
    font-weight: 500;
    transition: color .2s ease-in;
}

/* FOOTER */
footer {
    height: 5rem;
}
#footer-legal {
    width: 60rem;
    margin: auto;
    text-align: center;
}