* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

/* LINKS */
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: rgb(255,70,84);
}

/* ICONS */
.fi {
    font-size: 1.8rem;
    transition: color .2s ease-in;
}
.fi:hover {
    color: rgb(255,70,84);
}

/* TYPOGRAPHY */
.text-bold {
    font-weight: 700;
}

/* BUTTONS */
.btn-medium {
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}
/* Individual Buttons */
#btn-login {
    background-color: rgb(255,70,84);
    transition: background-color .2s ease-in;
}
#btn-login:hover {
    background-color: transparent;
    border: 2px solid rgb(255,70,84);
    cursor: pointer;
}

/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}
#nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* Logo */
#nav-left > a {
    height: 40px;
}
#logo-img {
    width: 4rem;
}
#logo-text {
    font-family: 'Anton', sans-serif;
    color: #161A26;
    font-size: 2.4rem;
}